.details{
    flex:1;
    display: flex;
    flex-direction: column;
}
.details .user{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dddddd35;
}
.details .user img{
   width: 220px;
   height: 220px;
   border-radius: 50%;
   object-fit: cover;
}

.details .info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.details button{
    padding: 10px 20px;
    background-color: rgba(230,74,105,0.553);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.details button:hover{
    padding: 10px 20px;
    background-color: rgba(230, 74, 105, 0.78);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.details .info .option .title{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.details .info .option .title img{
    width: 30px;
    height: 30px;
    background-color: rgba(17, 25, 40, 0.3);
padding: 10px;
border-radius: 50%;
cursor:pointer;
}
.details .info .option .photos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.details .info .option .photos img{
    width: 20px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(17, 25, 40, 0.3);
    object-fit: cover;
}
.details .info .option .photos .photoItem{
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}
.details .info .option .photos .photoItem .mainphoto{
    display: flex;
    align-items: center;
    gap: 18px;
  
}
.details .info .option .photos .photoItem .mainphoto img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
  
}
.details .info .option .photos .photoItem .mainphoto span{
    font-size: 14px;
    color: lightgray;
    font-weight: 300;
  
}