
.audio {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

audio{
    display: none;
}

.imgcall{
    border-radius: 10%;
    height: 70%;
    width: 35%;
    object-fit: cover;
    margin-right: 5rem;
    margin-left: 5rem;
    border: 2px solid blue;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
}

.controls {
    position: fixed;
    bottom: 50px;
    right: 45%;
    z-index: 2;
}

.controls button {
    padding:30px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.controls button:hover {
    background-color: rgba(0, 0, 255, 0.468);
}
